.datalogger {
  height: 100%;
  padding: 5rem 2rem 2rem 2rem;
  background-color: rgba(65, 105, 225, 0.068);
}
.datalogger__datatable__wrapper {
  height: 80%;
  background-color: #fff;
}
.datalogger__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: #fdfdfd;
  padding: 10px;
  border-radius: 5px;
}
.datalogger__header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.datalogger__header__btn {
  padding: 5px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.addnewsitepopup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.addnewsitepopup__wrapper__closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.addnewsitepopup__userAuth {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
  padding: 10px;
  border: 1px solid rgba(95, 128, 226, 0.308);
}
.addnewsitepopup__userAuth__input {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 1rem;
}
.addnewsitepopup__userAuth__addBtn {
  padding: 10px;
  width: 20%;
  font-size: 1rem;
  border: none;
  color: #141414;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
  border: 1px solid rgb(95, 128, 226);
}
.addnewsitepopup__userAuth__addBtn::before {
  content: "";
  background-color: rgb(95, 128, 226);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.2s;
  z-index: -1;
}
.addnewsitepopup__userAuth__addBtn:hover::before {
  transform: translateX(0%);
  transition: 0.2s;
}
.addnewsitepopup__userAuth__addBtn:hover {
  color: #fff;
  transition: 0.2s;
}
.addnewsitepopup__header h1{
    font-size: 1.3rem;
}